.text-center {
  text-align: center;
}

.block-center {
  margin-left: 40%;
}

.top-space {
  margin-top: 2em;
}

.little-top-space {
  margin-top: 0.5em;
}

.little-left-space {
  margin-left: 0.5em;
}
